.about-me__text {
    margin: 30px 20px;
    color: #252525;
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;

    span {
        color: #252525;
        font-size: 30px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
    }
}

.about-me__black-block {
    background-color: #252525;
    padding: 30px;
    padding-right: 30px;

    .about-me__black-block__title {
        color: #FFF;
        text-align: right;
        font-family: Gilroy-Medium;
        font-size: 28px;
        font-style: normal;
        line-height: 28px;
        text-transform: uppercase;
        padding-bottom: 30px;
    }

    ul {
        display: flex;
        align-content: center;
        justify-content: end;
        gap: 20px;
    }
}


@media screen and (min-width: 768px) and (max-width: 1199px) {
    .about-me__black-block__title {
        padding-bottom: 30px;
    }

    .about-me__text {
        font-size: 52px;

        span {
            font-size: 52px;
        }
    }
}


@media screen and (min-width: 1200px) {

    .about-me {
        border-bottom: 1px solid #252525;
    }

    .about-me__container {
        display: flex;

        justify-content: space-between;
        align-items: center;
        margin: 70px 0px 70px 10px;
    }

    .about-me__text {
        font-size: 52px;
        text-align: start;

        span {
            font-size: 52px;
        }
    }

    .about-me__black-block {
        display: flex;
        width: 314px;
        height: 174px;
        padding: 30px 30px 30px 70px;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        gap: 20px;
        flex-shrink: 0;

        ul {
            svg {
                &:hover {
                    background-color: #d0c1c175;
                    border-radius: 50px;
                    transition: 0.5s;
                }
            }
        }
    }
}