.header {
    .header__name {
        h1 {
            color: #252525;
            text-align: center;
            font-family: Gilroy-SemiBold;
            font-size: 57px;
            font-style: normal;
            line-height: normal;
            text-transform: uppercase;
        }

        h2 {
            color: #252525;
            font-size: 57px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
            text-transform: capitalize;
            text-align: center;
            margin-bottom: 30px;
        }
    }

    .header__arrow {
        text-align: center;
        margin-bottom: 14px;
    }
}


.header-top {
    .header-top__logotype {
        .header-top__logotype__text {
            display: none;

            span {
                display: none;
            }
        }

    }

    display: flex;
    justify-content: space-between;
    padding-right: 20px;
    margin-bottom: 30px;
    padding-left: 20px;
    padding-top: 20px;

    .header-top__menu {
        a {
            font-family: Gilroy-SemiBold;
            text-decoration: none;
            text-transform: uppercase;
            color: #252525;
            text-align: center;
            font-size: 25px;
            font-style: normal;
            line-height: normal;
        }
    }
}


.header__hero-photo {
    margin: 0 0 20px 0;
    height: 956px;
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
}


@media screen and (min-width: 768px) and (max-width: 1199px) {
    .header {
        .header__name {
            h1 {
                font-size: 95px;
                white-space: nowrap;
            }

            h2 {
                font-size: 110px;
                margin-bottom: 30px;
            }
        }

        .header__arrow {
            text-align: center;
            margin-bottom: 40px;
        }
    }


    .header-top {
        .header-top__logotype {
            text-decoration: none;

            .header-top__logotype__text {
                display: flex;
                color: #000;
                margin-left: 10px;
                text-align: center;
                font-family: Gilroy-Medium;
                font-size: 35px;
                font-style: normal;
                font-weight: 800;
                line-height: normal;
                letter-spacing: -0.7px;

                span {
                    display: flex;
                    color: #000;
                    margin-left: 5px;
                    font-size: 35px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    letter-spacing: -0.7px;
                    text-transform: uppercase;

                    &::after {
                        content: '®';
                        font-size: 25px;
                    }
                }
            }
        }
    }

    .header-top--block {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}


@media screen and (min-width: 1200px) {

    .header {
        .header__name {
            h1 {
                font-size: 150px;
            }

            h2 {
                font-size: 150px;
                margin-bottom: 30px;
            }
        }

        .header__arrow {
            text-align: center;
            margin-bottom: 50px;
        }
    }

    .header-top {
        .header-top__logotype {
            text-decoration: none;

            .header-top__logotype__text {
                display: flex;
                color: #000;
                margin-left: 10px;
                text-align: center;
                font-family: Gilroy-Medium;
                font-size: 35px;
                font-style: normal;
                font-weight: 800;
                line-height: normal;
                letter-spacing: -0.7px;

                span {
                    display: flex;
                    color: #000;
                    margin-left: 5px;
                    font-size: 35px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    letter-spacing: -0.7px;
                    text-transform: uppercase;

                    &::after {
                        content: '®';
                        font-size: 25px;
                    }
                }
            }

            // &:hover {
            //     transition: 0.5s;
            // }
        }

        .header-top__menu {
            a {

                &:hover {
                    color: #98958a;
                    transition: 0.5s;
                }
            }
        }
    }

    .header-top--block {
        display: flex;
        justify-content: center;
        align-items: center;
    }

}