.logos {
    border-bottom: 1px solid #252525;

    ul {
        display: flex;
        padding: 60px 20px;
        justify-content: center;
        align-items: flex-start;
        align-content: flex-start;
        gap: 15px;
        flex-wrap: wrap;

        svg {
            display: flex;
            height: 70px;
            padding: 0 40px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 10px;
            background-color: #fff;
            border-radius: 50px;
        }
    }
}


@media screen and (min-width: 768px) and (max-width: 1199px) {
    .logos {
        border-bottom: 1px solid #252525;

        ul {
            display: flex;
            justify-content: center;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 15px;
            padding: 40px 30px;

            svg {
                display: flex;
                height: 40px;
                padding: 10px 40px;
                flex-direction: column;
                justify-content: center;
                gap: 10px;
                background-color: #fff;
                border-radius: 50px;
            }
        }
    }
}


@media screen and (min-width: 1200px) {
    .logos {
        ul {
            display: flex;
            padding: 40px 5px;
            justify-content: center;
            align-items: center;

            svg {
                display: flex;
                height: 40px;
                padding: 5px 25px;
                flex-direction: row;
                justify-content: center;
                background-color: #fff;
                border-radius: 50px;

                &:hover {
                    background-color: #d8cfcf75;
                    transition: 0.5s;
                }
            }
        }
    }
}