.our-team{
    border-bottom: 1px solid #252525;
}

.our-team__title {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    padding: 0px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: center;
    color: #252525;
    font-size: 80px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-transform: uppercase;
}

.our-team__container {
    padding-bottom: 50px;

    a {
        text-decoration: none;
    }

    padding: 0 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    text-align: center;
}

.our-team__container--cards {
    overflow: hidden;

    p {
        margin-bottom: 5px;
        color: #333;
        text-align: center;
        font-size: 30px;
        font-style: normal;
        white-space: nowrap;
        line-height: normal;
        text-transform: uppercase;
        font-family: Gilroy-Bold;
    }

    h6 {
        margin-bottom: 15px;
        color: #333;
        text-align: center;
        font-family: Gilroy-Medium;
        font-size: 20px;
        font-style: normal;
        line-height: normal;
    }

    >img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    ul {
        margin-top: 15px;
        display: flex;
        justify-content: center;
        gap: 10px;
    }
}

.our-team__container__cards--last {
    max-width: 415px;

    h5 {

        color: #333;
        text-align: center;
        font-family: Gilroy-Regular;
        font-size: 30px;
        font-style: normal;
        line-height: normal;
        text-transform: uppercase;
        margin-bottom: 15px;
    }

    h3 {
        color: #333;
        text-align: center;
        font-family: Gilroy-Bold;
        font-size: 40px;
        font-style: normal;
        line-height: normal;
        text-transform: uppercase;
        margin-bottom: 15px;
    }

    h6 {
        display: flex;
        padding: 10px 78px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        background-color: #252525;
        color: #fff;
        border-radius: 50px;
        white-space: nowrap;
        margin-bottom: 50px;
    }
}


@media screen and (min-width: 768px) and (max-width: 1199px) {
    .our-team__title {
        font-size: 150px;
    }

    .our-team__container {
        gap: 90px 40px;
        display: grid;
        grid-template-columns: 1fr 1fr;

        p {
            display: flex;
            justify-content: flex-start;
        }

        ul {
            display: flex;
            justify-content: flex-end;
        }

        h6 {
            display: flex;
            justify-content: flex-start;
        }

        .our-team__container__cards--last {
            grid-column: 1 / span 2;
            grid-row: 4 / 4;
            max-width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            h5 {
                margin-bottom: 15px;
            }

            h3 {
                text-align: start;
                font-size: 64px;
                margin-bottom: 15px;
            }

            h6 {
                padding: 10px 30px;
            }
        }
    }
}


@media screen and (min-width: 1200px) {
    .our-team__title {
        margin-top: 50px;
        margin-bottom: 50px;
        font-size: 212px;
        letter-spacing: 8.48px;
    }

    .our-team__container {
        gap: 90px 40px;
        padding-bottom: 50px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;

        p {
            display: flex;
            justify-content: flex-start;
        }

        ul {
            display: flex;
            justify-content: flex-end;

            img {
                &:hover {
                    background-color: #413c3c75;
                    border-radius: 50px;
                    transition: 0.5s;
                }
            }
        }

        h6 {
            display: flex;
            justify-content: flex-start;
        }

        .our-team__container__cards--last {
            grid-column: 3 / span 2;
            grid-row: 2 / 2;
            max-width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            h5 {
                margin-bottom: 15px;
            }

            h3 {
                text-align: start;
                font-size: 54px;
                margin-bottom: 15px;
            }

            h6 {
                padding: 10px 30px;

                &:hover {
                    background-color: #605c5c99;
                    transition: 0.5s;
                }
            }
        }
    }
}