.selected-work {
    border-bottom: 1px solid #252525;
    border-top: 1px solid #252525;

    *a {
        color: #252525;
        text-decoration: none;
        font-family: Gilroy-Medium;
        font-size: 18px;
        font-style: normal;
        line-height: normal;
        white-space: nowrap;
    }

    .selected-work__title {
        margin-top: 30px;
        margin-bottom: 30px;
        color: #252525;
        text-align: center;
        font-size: 60px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        letter-spacing: 3.2px;
        text-transform: uppercase;
    }
}

.selected-work__container {
    display: flex;
    padding: 0px 20px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    overflow: hidden;

    .selected-work__container__item,
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
}

.selected-work__container__block--transparent {
    display: flex;
    flex-direction: column;
    min-width: 100%;
    margin-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;

    p {
        color: #000;
        font-family: Gilroy-Bold;
        font-size: 35px;
        font-style: normal;
        line-height: normal;
        text-transform: uppercase;
        margin-bottom: 20px;
    }
}

.block__transparent--design {
    display: flex;
    align-items: flex-start;
    gap: 5px;
    margin-bottom: 30px;

    h6 {
        display: flex;
        padding: 15px 30px;
        align-items: center;
        font-family: Gilroy-Medium;
        font-size: 18px;
        background-color: #fff;
        border-radius: 50px;
    }

    h4 {
        display: flex;
        padding: 15px 30px;
        align-items: center;
        font-family: Gilroy-Medium;
        font-size: 18px;
        background-color: #fff;
        border-radius: 50px;
    }
}

.block__transparent--discover {
    display: flex;
    justify-content: flex-end;

    h5 {
        padding: 15px 30px;
        color: #fff;
        border-radius: 50px;
        background: #252525;
        font-size: 18px;
        display: flex;
        align-items: center;
        gap: 10px;
    }
}

.selected-work__button--all-work {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    margin-bottom: 30px;

    p {
        border-radius: 50px;
        background: #FFF;
        padding: 15px 98px;
    }
}


@media screen and (min-width: 768px) and (max-width: 1199px) {
    .selected-work {
        .selected-work__title {
            color: #252525;
            text-align: center;
            font-size: 150px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
            letter-spacing: 6px;
            text-transform: uppercase;
        }
    }

    .selected-work__container__block--transparent {
        margin-bottom: 70px;

        p {
            font-size: 40px;
            line-height: 44px;
        }
    }

    .block__transparent--design {
        gap: 30px;
    }
}


@media screen and (min-width: 1200px) {
    .selected-work {
        .selected-work__title {
            margin-top: 70px;
            margin-bottom: 50px;
            color: #252525;
            text-align: center;
            font-size: 130px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
            letter-spacing: 8.48px;
            text-transform: uppercase;
            white-space: nowrap;
        }
    }

    .selected-work__container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

        .block--transparent--1 {
            grid-column: 1 / span 1;
            grid-row: 1 / 1;
        }
    }

    .selected-work__container__block--transparent {
        display: flex;
        justify-content: space-between;
        margin-bottom: 0;
        padding: 0 0;
    }

    .block__transparent--design {
        margin-bottom: 0;
        display: flex;
        gap: 30px;

        h6 {
            &:hover {
                background-color: #d8cfcf75;
                transition: 0.5s;
            }
        }

        h4 {
            &:hover {
                background-color: #d8cfcf75;
                transition: 0.5s;
            }
        }
    }

    .block__transparent--discover {
        h5 {
            &:hover {
                background-color: #605c5c99;
                transition: 0.5s;
            }
        }
    }

    .selected-work__button--all-work {
        margin-top: 70px;
        margin-bottom: 100px;

        p {
            &:hover {
                background-color: #d8cfcf75;
                transition: 0.5s;
            }
        }
    }
}