@import 'mixins';
@import 'variables';
@import 'reset';

@import 'header';
@import 'aboutme';
@import 'logos';
@import 'selectedwork';
@import 'ourteam';

.wrapper{
    background-color: #F5F3EA;
    font-family: 'Gilroy-Regular', sans-serif;
  
}

.container{
    padding: 0 30px 0 30px;
}

.what-i-do{
    min-height: 1462px;
    background-color: #F5F3EA;
    border-bottom: 1px solid #252525;
}

.what-i-do__image{
    background-image: url(../images/what_i_do.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 478px;
}

.what-i-do__info{
    margin-top: 40px;
    border-bottom: 1px solid #252525;
}

.what-i-do__info:last-child{
    border-bottom: none;
}

.what-i-do__title{
    padding-top: 20px;
    font-family: 'Gilroy-Regular', sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-weight: 300;
    font-size: 60px;
    line-height: 92px;
    color: #252525;
}

.what-i-do__info--title{
    font-family: 'Gilroy-SemiBold', sans-serif;
    text-transform: uppercase;
    font-size: 30px;
    line-height: 40px;
    color:#000000;
}

.title-1::before{
    content: '01';
}

.title-2::before{
    content: '02';
}

.title-3::before{
    content: '03';
}

.title-4::before{
    content: '04';
}

.title-1::before, .title-2::before, .title-3::before, .title-4::before{
    font-family: 'Gilroy-Light', sans-serif;
    font-size: 30px;
    line-height: 40px;
    padding-right: 5px;
}

.what-i-do__info--desc{
    margin-top: 15px;
    padding-bottom: 30px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color:#000000;
}

.my-clients{
    background-color: #F5F3EA;
    border-bottom: 1px solid #252525;
}

.my-clients__title{
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Gilroy-Regular', sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-weight: 300;
    font-size: 60px;
    line-height: 92px;
    color: #252525;
}

.my-clients__content{
    padding-top: 55px;
    border-bottom: 1px solid #252525;
}

.my-clients__content--title{
    font-family: 'Gilroy-Regular', sans-serif;
    padding-top: 30px;
    font-weight: 800;
    font-size: 40px;
    line-height: 44px;
    color: #333333;
}

.my-clients__content--desc{
    font-family: 'Inter', sans-serif;
    padding-top: 35px;
    padding-bottom: 35px;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}

.my-clients__content--client{
    display: flex;
    align-items: center;
    padding-bottom: 40px;
}

.my-clients__content--client--pic{

    img{
        width: 70px;
        height: 70px;
        border-radius: 35px;
    }
}

.my-clients__content--client--info{
    padding-left: 20px;
}

.my-clients__content--client--info--name{
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    color:#000000;
}

.my-clients__content--client--info--position{
    font-family: 'Inter', sans-serif;
    padding-top: 10px;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color:#000000;
}

.my-clients__content:last-child{
    border-bottom: none;
}

.contact{
    background-color: #F5F3EA;
    border-bottom: 1px solid #252525;
}

.contact__title{
    padding-top: 25px;
    font-family: 'Gilroy-Regular', sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-weight: 300;
    font-size: 60px;
    line-height: 92px;
    color: #252525;
}

.contact__bold-text{
    font-family: 'Gilroy-Bold', sans-serif;
    padding-top: 30px;
    font-size: 50px;
    line-height: 58px;
    color: #252525;
    text-align: center;
    text-transform: uppercase;
}

.contact__text{
    font-family: 'Gilroy-Medium', sans-serif;
    padding-top: 20px;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    color:#252525;
}

.contact__button{
    display: flex;
    margin: 25px 0 25px 0;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 54px;
    border-radius: 50px;
    background-color: #252525;
    text-decoration: none;
    font-family: 'Gilroy-Medium', sans-serif;
    color: #FFFFFF;
    font-size: 18px;
    line-height: 21px;

        &::after{
            content: "→";
            padding-left: 10px;
            width: 33px;
            height: 21px;
        }

}

footer {
    background-color:#F5F3EA;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__text{
    font-family: 'Gilroy-Regular', sans-serif;
    padding-top: 20px;
    color:#333333;
}

.footer__text--bold{
    font-family: 'Gilroy-SemiBold', sans-serif;
}

.footer__socials{
    padding: 20px 0 20px 0;
    font-size: 18px;
    line-height: 21px;
    display: flex;
}

.footer__socials--icon{
    margin: 0 6px 0 6px;
    display: block;
    height: 30px;
    width: 30px;
    border-radius: 15px;
}

.footer__socials--icon:nth-child(1){
    background-image: url(../images/footer_icon_1.svg);
}

.footer__socials--icon:nth-child(2){
    background-image: url(../images/footer_icon_2.svg);
}

.footer__socials--icon:nth-child(3){
    background-image: url(../images/footer_icon_3.svg);
}

.footer__socials--icon:nth-child(4){
    background-image: url(../images/footer_icon_4.svg);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .what-i-do__image{
        height: 991px;
    }

    .what-i-do__title{
        padding-top: 60px;
        font-size: 130px;
        line-height: 173px;
    }

    .what-i-do__info:first-child{
        margin-top: 75px;
    }

    .what-i-do__info--title, .title-1::before, .title-2::before, .title-3::before, .title-4::before{
        font-size: 44px;
        line-height: 48px;
    }
    
    .what-i-do__info--desc{
        padding-bottom: 50px;
        margin-top: 50px;
    }

    .my-clients__title{
        padding-top: 60px;
        font-size: 130px;
        line-height: 173px;
    }

    .contact__info{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contact__title{
        padding-top: 50px;
        font-size: 130px;
        line-height: 173px;
    }

    .contact__bold-text{
        font-size: 64px;
        line-height: 75px;
        padding-top: 40px;
    }

    .contact__text{
        font-size: 34px;
        line-height: 40px;
        padding-top: 30px;
    }

    .contact__button{
        width: 195px;
        padding-left: 20px;
    }

    footer{
        flex-direction: row;
        justify-content: space-between;
    }

    .footer__text{
        padding-top: 0;
    }
}

@media screen and (min-width: 1200px){
    .what-i-do{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "image content";
        min-height: auto;
    }

    .what-i-do__title{
        width: max-content;
        padding-top: 75px;
    }
    
    .what-i-do__content{
        grid-area: content;
    }

    .what-i-do__image{
        grid-area: image;
        height:auto;
    }

    .container{
        padding: 0 100px 0 100px;
    }

    .desc-4{
        padding-bottom: 70px;
    }

    .my-clients__content--grid{
        padding-bottom: 50px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: 
        "client1 client2 client3"
        "client4 client5 client6";
    }

    .my-clients__content{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 50px 50px 0 50px;
    }

    .my-clients__content--desc{
        padding-top: 30px;
    }

    .my-clients__content:nth-child(1){
        min-height: 640px;
        grid-area: client1;
        border-right: 1px solid #000000;
    }

    .my-clients__content:nth-child(2){
        grid-area: client2;
        border-right: 1px solid #000000;
    }

    .my-clients__content:nth-child(3){
        grid-area: client3;
    }

    .my-clients__content:nth-child(4){
        grid-area: client4;
        border-bottom: none;
        border-right: 1px solid #000000;
    }

    .my-clients__content:nth-child(5){
        grid-area: client5;
        border-bottom: none;
        border-right: 1px solid #000000;
    }

    .my-clients__content:nth-child(6){
        grid-area: client6;
        border-bottom: none;
    }

    .my-clients__content--client{
        padding-top: 25px;
    }

    .contact{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 45px;
        grid-template-areas: 
        "title info";
    }

    .contact__title{
        grid-area: title;
        font-size: 155px;
        line-height: 179px;
    }

    .contact__info{
        grid-area: info;
    }

    .contact__bold-text{
        text-align: start;
    }

    .contact__text{
        text-align: start;
    }

    .contact__button{
        width: 195px;
        padding-left: 20px;
    }

    footer{
        flex-direction: row;
        justify-content: space-between;
    }

    .footer__text{
        padding-top: 0;
    }
}